
# apiVersion: v1
# kind: Service
# metadata:
#   name: APP_NAME
# spec:
#   type: LoadBalancer
#   selector:
#     app: APP_NAME
#   ports:
#   - port: PORT
#     targetPort: PORT
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
