apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  

patchesStrategicMerge:
  - replica-patch.yaml
  - service-patch.yaml

# Reference external variables file instead of defining inline
varFiles:
  varFiles:
  - ../../pipeline-vars.yaml  

vars:
  - name: APP_NAME
  - name: REPLICAS_DEV
  - name: REPLICAS_PROD
  - name: CPU_REQUEST
  - name: CPU_LIMIT
  - name: MEMORY_REQUEST
  - name: MEMORY_LIMIT
  - name: READINESS_PROBE
  - name: LIVENESS_PROBE
  - name: IMAGE
  - name: TAG
  - name: PORT
